<div>
<div class="container">
    <div><img src= {{avatarUrl}} width="200" height="200"></div>
    <div class="text1">
    
    <h1>{{name}}</h1>
    </div>
    
    <div class="text1">
        {{login}}
    </div>

    <div class="text1">
        Bio:
    </div>
    {{bio}}
    
    <div class="text1">
        Followers:
    </div>
    {{followers}}
    
    <div class="text1">
        Follows:
    </div>
    {{following}}
    
    <div class="text1">
        Public Repos:
    </div>
    {{publicRepos}}
    {{#if lessthan5}}
    you suck
    {{else if lessthan10}}
    your getting there
    {{else if morethan20}}
    ehhh show off
    {{/if}}    

    <div class="text1">
        Blog
    </div>
    {{Blog}}

</div>
</div>